

document, body {
	font-size: 18px;
}

input[type=submit]{
	margin: 1vw;
	background-color:aliceblue;
	color: gray;
	cursor: pointer;
}

div{
	padding: 1vmin;
}

.red{
	color: darkred;;
}

.blue{
	color: darkslateblue;
}

.success{
	font-weight: bold;
	color: darkgreen;
}

.error{
	font-weight: bold;
	color: red;
}

.old-ad{
	background-color: linen;
	font-weight: lighter;
}