

document, body {
	font-size: 20px;
	margin: 2vmin 0;
}

div{
	padding: 1vmin;
}

.red{
	color: darkred;;
}

.blue{
	color: darkslateblue;
}

.old-ad{
	background-color: rgb(212, 210, 209);
	font-weight: lighter;
}