

document, body {
	font-size: 20px;
	margin: 2vmin 0;
}

div{
	padding: 1vmin;
}

.red{
	color: darkred;;
}

.blue{
	color: darkslateblue;
}

.premium-ad{
	background-color: rgb(199, 213, 199);
	font-weight: lighter;
	border-radius: 5px;
	padding: 1vmin;
}